# Data 102: Final Project

by Aidana Jakulina, Can Karakoc, Geena Yin, Ira Puri

In [20]:
import pandas as pd
import numpy as np
import seaborn as sns

In [21]:
data = pd.read_csv('datasets/state_political_party.csv')
data.head()

,State,POPULAR VOTE,POPULAR VOTE.1,POPULAR VOTE.2,POPULAR VOTE.3,POLITICAL AFFILIATION
0,Alabama,Biden (D),Trunp (R),All Others,Total Vote,R or D
1,Alaska,"849,624","1,441,170","32,488","2,323,282",R
2,Arizona,"153,778","189,951","15,801","359,530",R
3,Arkansas,"1,672,143","1,661,686","53,497","3,387,326",D
4,California,"423,932","760,647","34,490","1,219,069",R

In [22]:
data.describe()

,State,POPULAR VOTE,POPULAR VOTE.1,POPULAR VOTE.2,POPULAR VOTE.3,POLITICAL AFFILIATION
count,51,51,51,51,51,51
unique,51,51,51,51,51,3
top,Alabama,Biden (D),Trunp (R),All Others,Total Vote,D
freq,1,1,1,1,1,26

In [23]:
data = pd.read_csv('datasets/net_energy_gen.csv')
data.head()

ParserError: Error tokenizing data. C error: Expected 1 fields in line 5, saw 124